# Engine binary
vinora

# Objects, archives, deps
*.o
*.a
*.d
*.dwo
*.gch
*.pch

# Linker / debug leftovers
*.ilk
*.map
*.exp
*.pdb
*.idb
*.su
*.dSYM/

# Shared libs (we don't ship these)
*.dll
*.so
*.so.*
*.dylib

# Editor junk
*.swp
*~
*.orig
*.bak
